[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ohsome"]
	path = ohsome
	url = https://github.com/giscience/ohsome-r
	shallow = true
	registered = true
